<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2 th:text="${user.userId == null ? 'Novo Usuário' : 'Editar Usuário'}"></h2>

<form th:action="@{/ui/users/save}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{userId}"/>

    <div>
        <label>Nome:</label>
        <input th:field="*{username}" required />
    </div>

    <div>
        <label>Email:</label>
        <input th:field="*{email}" required />
    </div>

    <div>
        <label>Senha:</label>
        <input th:field="*{password}" required />
    </div>

    <button type="submit">Salvar</button>
    <a href="/ui/users">Cancelar</a>
</form>

</body>
</html>
