<html xmlns:th="http://www.thymeleaf.org">
<body>

<a href="/ui/users/new">Novo Usuário</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.userId}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.email}"></td>
        <td>
            <a th:href="@{'/ui/users/edit/' + ${u.userId}}">Editar</a>
            <a th:href="@{'/ui/users/delete/' + ${u.userId}}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
